header {
    background-color:rgb(85, 71, 71);
    color:white;
    padding:5px;
}
h1 {
    text-align:center;
}
section {
    width:350px;
    float:left;
    padding:5px;
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}